* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid black;
    position: relative;
}

#stories {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #555;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#stories::-webkit-scrollbar {
    display: none;
}

.story {
    border: 3px solid red;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
}

.story img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    body {
        background-color: lightcyan;
        flex-direction: column;
        justify-content: flex-start;
    }

    #card {
        height: 350px;
        width: 250px;
        border: 2px solid black;
    }

    #stories {
        height: 100px;
        padding: 10px;
    }

    .story {
        height: 70px;
        width: 70px;
    }
}
